.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.delete {
  cursor: pointer;
  color: red;
}

input:checked + span {
  text-decoration: line-through;
}
